@import url(https://fonts.googleapis.com/css?family=Dosis:600);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

@charset "UTF-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	font-family: 'Dosis', sans-serif;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	position: static;
	height: auto;
}

html, body {
  min-height: 100%;
  /*height: 100%;*/
  /*margin: 0;*/
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
i{font-style: italic;}
strong{font-weight: bolder;color:#cccccc;}

textarea {
	resize: none;
	height: auto;
}

/*************************/
/******** GENERAL ********/
/*************************/

/* SHRINK HOVER SETTINGS */
.hvr-shrink {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}


.opacity:hover {
	opacity: .9;
}

.imgSizer {
	width: 100%;
}

.mobile {
	display: none;
}

.satisfy {
	font-family: 'Satisfy', cursive;
}

/************************/
/******** LAYOUT ********/
/************************/

body {
	background-color: #1d243d;
	background-image: url("../images/cloudy_city_dark.jpg");
	background-repeat:no-repeat;
	-webkit-background-size:auto 100%;
	-moz-background-size:auto 100%;
	-o-background-size:auto 100%;
    background-size: auto 100%;
	background-position:top center;
	
}

a:not(#logo) {
	text-decoration: none;
	color: #f6f6f6;
	font-size: 1.2em;
	display: inline-block;

	/* Hover transition */
	-o-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
a:hover:not(#logo) { 
    -o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	color: #fafafa;
}

a + a:not(#logo) {
    margin-left: 2em;
}

.container {
	width: 85%;
	max-width: 850px;
	margin: 0px auto;
	border: 0px solid #fff;
}

button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.4em;
	line-height: 1.4;
	vertical-align: bottom;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	color: #f6f6f6;
	background: rgba(0,0,0,0);
	border: solid 4px #f6f6f6;
	border-radius: 15px;

	/* Hover transition */
	-o-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
button:focus {
  outline: none
}
button:hover { 
    -o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	color: #fafafa;
}

/************************/
/******** HEADER ********/
/************************/
.header {
	width: 100%;
	color: #000000;
	border: 0px solid #000;
	margin-bottom: 105%;
}

.header-container {
	/*border: 0px solid #17C926;*/
	width: 100%;
	margin: 5% auto 10%;

}

.header-helper {
	font-size: 1.2em;
	margin: 1% auto 0;
	text-shadow: 
		-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px  1px 0 #000,
		 1px  1px 0 #000;
	letter-spacing: .05em;
}

/* City in the Clouds logo */
.logo {
	width: 40%;
	height: auto;
}

#logo {
	text-align: center;
	width: 100px;
}

#logo img {
	display: inline;
}

/* Purchase Links */
.purchase-container {
	width: 95%;
	border: 0px solid #BB0D10;
	margin: 0px auto 2%;
	
}

.purchase-link {
	margin-right: 3.5%;
	display: inline-block;
	border: 0px solid #fff;
}


/************************/
/******** CONTENT *******/
/************************/
.content {
	width: 100%;
	border: 0px solid #D40408;
	margin: 5% auto 5%;
}

.announcement {
	height: 50%;
	width: 100%;
	text-align: center;
}

.announcement p {
	margin: 1% auto 2%;
	font-size: 3em;
	color: #f6f6f6;
    letter-spacing: .05em;
    text-shadow: 
      4px 4px 0px #2c2c2c, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}

.announcement img {
	width: 40%;
	height: auto;
	display: block;
	margin: auto;
}

.content-container {
	border: 0px solid #fff;
	margin: 0px auto;	
	min-height: 1200px;

}

.listen {
	margin: 2% auto 0;
}

.listen a {
	display: inline-block;
	padding: 10px 15px;
	font-size: 2em;
	line-height: 1.4;
	vertical-align: bottom;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	color: #f6f6f6;
	background: rgba(0,0,0,0);
	border: solid 4px #f6f6f6;
	border-radius: 15px;
}
.listen a:focus {
  outline: none
}


/************************/
/******** FOOTER ********/
/************************/

footer {
	text-align: center;
	width: 93.5%;
	border: 0px solid #0A6018;
	margin: 0px auto 2%;
	color: #FFFFFF;
}

/*This is where problem of two line copyright is coming from*/
.footer-container {
	width: 67.5%; 
	border: 0px solid #6AB973;
	margin: 0px auto;	
	max-width: 560px; /* this line specifically */
}

/* Navigation */
.navigation-container {
	width: 100%;
	margin: 0px auto 4%;
	border: 0px solid #fff;
}

.navigation {
	display: inline-block;
	padding-right: 5%;
	margin: 0px auto;
	padding-left: 1%;
}

/* Social Link */
.social-container {
	width: 100%;
	margin: 0px auto 2%;
	max-width: 560px;
}

.social-link {
	display: inline-block;
	margin-right: 5%;
	vertical-align: middle;
}

#facebook { width: 4.52%; }
#twitter { width: 4.52%; }
#instagram { width: 4.52%; }
#soundcloud { width: 6%; }
#spotify { width: 4.52%; }
#apple { width: 3.8%; }
#bandcamp { width: 10%; }

/* Copyright */
.copyright-container {
	width: 100%;	
	margin: 0px auto;
	border: 0px solid #189A12;
}

.copyright {
	margin: 0px auto;
	width: 25%;
}

/*******************************/
/******** INPUT FIELDS ********/
/*******************************/

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	/*color: #6a7989;*/
	color: #FFFFFF;
	/*font-weight: bold;*/
	font-size: 80.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

/* Minoru */
.input__field--minoru {
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 0px 2px transparent;
	color: #3d4765;
	-webkit-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
}

.input__label--minoru {
	padding: 0;
	width: 100%;
	text-align: left;
}

.input__label--minoru::after {
	content: '';
  	position: absolute;
  	top: 0;
  	z-index: -1;
  	width: 100%;
  	height: 4em;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(199,152,157, 0.6);
}

.input__field--minoru:focus {
	box-shadow: 0px 0px 0px 2px #3d4765;
}

.input__field--minoru:focus + .input__label--minoru {
	pointer-events: none;
}

.input__field--minoru:focus + .input__label--minoru::after {
	-webkit-animation: anim-shadow 0.3s forwards;
	animation: anim-shadow 0.3s forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

.input__label-content--minoru {
	padding: 0.75em 0.15em;
}

/*******************************/
/******** MEDIA QUERIES ********/
/*******************************/
@media screen and (min-width:1621px) and (max-width : 1720px) {
.header {
	width: 95%;
	border: 0px solid #000;
	margin: 0px auto 90%;
}

.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}

.footer {
	width: 88.82%; 
}

}



@media screen and (min-width:1521px) and (max-width : 1620px) {
.header {
	width: 90%;
	border: 0px solid #000;
	margin: 0px auto 85%;
}

.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}



.footer {
	width: 84.15%; 
}

}


@media screen and (min-width:1421px) and (max-width : 1520px) {
.header {
	width: 85%;
	border: 0px solid #000;
	margin: 0px auto 80%;
}

	
.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}



.footer {
	width: 79.475%; 
}

}


@media screen and (min-width:1321px) and (max-width : 1420px) {


.header {
	width: 80%;
	border: 0px solid #000;
	margin: 0px auto 75%;
}

	
.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}



.footer {
	width: 74.8%; 
}

}

@media screen and (min-width:1221px) and (max-width : 1320px) {
.header {
	width: 70%;
	border: 0px solid #000;
	margin: 0px auto 70%;
}

	
.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}

.footer {
	width: 65.45%; 
}
}









@media screen and (min-width:1121px) and (max-width : 1220px) {
.header {
	width: 65%;
	border: 0px solid #000;
	margin: 0px auto 65%;
}

	
.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}



.footer {
	width: 60.775%; 
}

}





@media screen and (min-width:1021px) and (max-width : 1120px) {
.header {
	width: 60%;
	border: 0px solid #000;
	margin: 0px auto 60%;
}

	
.header-container {
	width: 100%;
	margin: 3% auto 0% !important;
}



.footer {
	width: 56.1%; 
}
}



@media screen and (min-width:781px) and (max-width : 1020px) {
body {
	background-image: url("../images/cloudy_city_dark_2.jpg");
}

.header {
	width: 70%;
	border: 0px solid #000;
	margin: 0px auto 72.5%;
}

	
.header-container {
	width: 100%;
	margin: 5% auto 0% !important;
}



.footer {
	width: 65.38%; 
}

}



@media screen and (min-width: 200px) and (max-width: 780px) {
body {
		background-image: url(../images/mobile_bg.jpg);
		background-size: 100% auto;
}

.header {
	width: 100%;
	border: 0px solid #000;
	margin: 0px auto 115%;
}

	
.header-container {
	width: 100%;
	margin: 5% auto 0% !important;
}

.footer {
	width: 92.56%; 
}



}